<div class="sliderMain">
  <div class="three-d-Slider">
    <input type="radio" checked class="three-d-bullet a" name="three-d">
    <input type="radio" class="three-d-bullet b" name="three-d">
    <input type="radio" class="three-d-bullet c" name="three-d">
    <input type="radio" class="three-d-bullet d" name="three-d">
    <input type="radio" class="three-d-bullet e" name="three-d">
    <input type="radio" class="three-d-bullet f" name="three-d">
    <div class="three-d-cube">
      <figure class="three-d-item">
        <img src="./assets/images/sl1.png" alt="">
      </figure>
      <figure class="three-d-item">
        <img src="./assets/images/sl2.jpg" alt="">
      </figure>
      <figure class="three-d-item">
        <img src="./assets/images/sl3.jpg" alt="">
      </figure>
      <figure class="three-d-item">
        <img src="./assets/images/sl4.jpg" alt="">
      </figure>
      <figure class="three-d-item">
        <img src="./assets/images/sl5.jpg" alt="">
      </figure>
      <figure class="three-d-item">
        <img src="./assets/images/sl6.jpg" alt="">
      </figure>
    </div>
  </div>
</div>
