@import "./variables.scss";

@mixin form {
  h1 {
    text-align: center;
    font-weight: 500;
  }
  .fieldInput {
    width: 100%;
  }
  .btnSubmit {
    text-align: center;
    button {
      background-color: $green;
      color: $white;
      margin-top: 20px;
    }
  }
  span {
    color: $red;
    font-size: $fs;
  };
}


::ng-deep .mat-form-field-label {
  color: black !important ;
}
::ng-deep .mat-form-field-underline {
  background-color: $green !important ;
}

::ng-deep .mat-form-field-underline::before {
  background-color: $green !important ;
}
::ng-deep .mat-form-field-ripple {
  background-color: $green !important ;
}

// SigninComponent
// SignupComponent
// AdduserComponent
// AdduserComponent
// ModalinfouserComponent
