<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <!-- responsive navbar ( <= 900px show , > 900px hidden)-->
    <app-sideheader (sidenavClose)="sidenav.close()"></app-sideheader>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- responsive navbar ( > 900px show , <= 900px hidden)-->
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <app-slider></app-slider>
    <main>
      <div class="comback" style=" text-align: center;">
        <mat-icon routerLink="/" style="color: #1fc58e; cursor: pointer;">keyboard_return</mat-icon>
      </div>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>