<hr>
<footer>
  <div class="row">
    <div class="col-8 row">
      <div class="col-4">
        <ul *ngFor="let row of arrRowOne">
          <li>{{row}}</li>
        </ul>
      </div>
      <div class="col-4">
        <ul *ngFor="let row of arrRowTwo">
          <li>{{row}}</li>
        </ul>
      </div>
      <div class="col-4">
        <ul *ngFor="let row of arrRowThere">
          <li>{{row}}</li>
        </ul>
      </div>
    </div>
    <div class="col-4 footerBtn ">
      <button mat-button>English</button>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <img src="./assets/images/MIN-OP1.png" alt="">
    </div>
    <div class="col-4 footerSpan"><span> © 2021 Udemy, Inc. </span></div>
  </div>
</footer>

