@import "../../../assets/scss/modaladmin.scss";

.example-large-box {
  height: 600px;
  width: 500px;
}
@include modalAdmin;

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  background-color: #f7f7f7;
}

/* ink bar */
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #1fc58e;
}
