<mat-tab-group dynamicHeight >

  <mat-tab label="Cập Nhật Người Dùng">
    <div class="example-large-box mat-elevation-z4">
      <app-updateuser></app-updateuser>
    </div>
  </mat-tab>

  <mat-tab label="Danh Sách Ghi Danh">
    <div class="example-large-box mat-elevation-z4">
      <app-courseregister class="listCourseRegis"></app-courseregister>
    </div>
  </mat-tab>

  <mat-tab label="Thêm Người Dùng">
    <div class="example-large-box mat-elevation-z4">
      <app-adduser></app-adduser>
    </div>
  </mat-tab>

</mat-tab-group>
