<div class="introNews">
  <div class="container">
    <h1>NEWS & EVENTS</h1>
    <h5>Exclusive Holidays For Any Travelers</h5>

    <!-- row 1 -->
    <div class="introNews rowOne" fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex.xs="100%" fxFlex.gt-md="50%" fxLayout="column" fxLayoutAlign="space-around center">
        <span>
          <h4>SIT AMET JUSTO VITAE</h4>
          <h4>3/01/2018</h4>
          <p>
            Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis
            non
            cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non
            cursus
            ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut,
            egestas sed ipsum.
          </p>
        </span>
      </div>
      <div fxFlex.xs="100%" fxFlex.gt-md="50%">
        <img src="./assets/images/sl2.jpg" alt="">
      </div>
    </div>
    <!-- row 1 -->

    <!-- row 2 -->
    <div class="introNews" fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex.xs="100%" fxFlex.gt-md="50%">
        <img src="./assets/images/sl3.jpg" alt="">
      </div>
      <div fxFlex.xs="100%" fxFlex.gt-md="50%" fxLayout="column" fxLayoutAlign="space-around center">
        <span>
          <h4>SIT AMET JUSTO VITAE</h4>
          <h4>3/01/2018</h4>
          <p>
            Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis
            non
            cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non
            cursus
            ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut,
            egestas sed ipsum.
          </p>
        </span>
      </div>
      <!-- row 2 -->
    </div>

  </div>