@import "../../../assets/scss/container.scss";
@import "../../../assets/scss/grid.scss";
@import "../../../assets/scss/variables.scss";


.container {
    .infoAdmin{
        border: 1px solid $green;
        border-radius: 20px;
        padding: 20px;
        margin: 0 20px;
    }
}
