@import "../../../../assets/scss/variables.scss";

mat-nav-list {
  .nav-caption {
    display: inline-block;
    padding-left: 6px;
    img {
      width: 100px;
    }
  }
  .routerActive {
    color: $red;
  }
  .formSearch {
    .inputHeader {
      padding: 7px;
      font-size: $fl;
      border-radius: 15px;
      border: 1px solid $white;
      outline: none;
    }
  }
  .aSelect {
    position: relative;
    .selectSearch {
      position: absolute;
      bottom: -3px;
      right: 30px;
      width: 50px;
    }
  }
  .iconHeader {
    color: $green;
  }
}

.mat-menu-item .mat-icon {
  color: $green;
}

::ng-deep .selectSearch {
  font-size: $fs;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
}
