<mat-tab-group dynamicHeight>

  <mat-tab label="Cập Nhật Khoá Học">
    <div class="example-large-box mat-elevation-z4">
      <app-listuserunregisterd class="listCourseRegis"></app-listuserunregisterd>
    </div>
  </mat-tab>

  <mat-tab label="Học Viên Chờ Xác Thực">
    <div class="example-large-box mat-elevation-z4">
      <app-listuserwaitapproval class="listCourseRegis"></app-listuserwaitapproval>
    </div>
  </mat-tab>

  <mat-tab label="Học Viên Đã Xác Thực">
    <div class="example-large-box mat-elevation-z4">
      <app-listuserapproval class="listCourseRegis"></app-listuserapproval>
    </div>
  </mat-tab>

</mat-tab-group>
