@import "../../../../assets/scss/variables.scss";

mat-toolbar {
  img {
    width: 100px;
    cursor: pointer;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .routerActive {
    color: $red;
  }
  .formSearch {
    .inputHeader {
      width: 100%;
      padding: 5px 10px;
      font-size: $fxl;
      border-radius: 20px;
      border: none;
      outline: none;
    }
  }
  .aSearch {
    position: relative;
    .selectSearch {
      position: absolute;
      bottom: -11px;
      left: -42px;
      width: 50px;
    }
  }
  .iconHeader {
    color: $green;
  }
}
.mat-menu-item .mat-icon{
  color: $green;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: $green;
}
::ng-deep .mat-progress-bar-buffer {
  background: $white;
}

::ng-deep .selectSearch {
  font-size: $fs;
}

::ng-deep .menuCategory {
  min-width: 300px !important;
  max-width: 300px !important;
  max-height: 300px !important;
  min-height: 300px !important;
}

::ng-deep .menuCategory::-webkit-scrollbar {
  width: 6px;
}
::ng-deep .menuCategory::-webkit-scrollbar-thumb {
  background: $white;
  border-radius: 10px;
}
::ng-deep .menuCategory::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $white;
  border-radius: 10px;
}
